<h1>Edit <%= @band.name %>'s Name:</h1>
<form action="<%= band_url(@band) %>" method="POST">
    <%= auth_token %>
    <input type="hidden" name="_method" value="PATCH">
    <div>
        <label for="band_name">Band Name:</label>
        <input type="text" name="band[name]" value="">
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>