<div>
    <form action="<%= sub_posts_url(@post.sub_id) %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="post[author_id]" value="<%= current_user.id %>">

        <label>Title
            <input type="text" name="post[title]">
        </label>
        <label>Content
            <textarea name="post[content" cols="30" rows="10"></textarea>
        </label>
        <input type="submit" value="Create Post">
    </form>
</div>