.section-nav {
    display:flex;
    flex-direction: column;
	align-items: center;
}

.section-nav > ul {
   
    display:flex;
    font-size: 10px;
}

.section-nav > ul > li {
    margin-left: 10px;
}