<header class="masthead">
    <nav class="language-nav">
    <ul>
        <li><a href="#">CSS<a></li> 
        <li><a href="#">HTML<a></li> 
        <li><a href="#">Javascript<a></li>  
        <li><a href="#">Ruby<a></li> 
    </ul>  
    </nav>

    <div class="logo"><%= image_tag 'AA_Times_Logo' %></div>

    <nav class="masthead-links">
        <li>
            <a href="#">Tuesday, October 18, 2016</a>
        </li>
        <li>
            <a href="#">Today’s Paper</a>
        </li>
        <li>
            <a href="#">Video</a>
        </li>
        <li> 
            <a href="#">77°F</a>
        </li>
        <li>
            <a href="#">AAO <strong>+100%</strong></a>
        </li>
    </nav>
</header>

